html
{
  min-height: 100%;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #1a1919;
  color: #999;
}

.dark-mode nav {
  background-color: #1b2938;
}

.nav-link.active {
  color: #0062cc;
}

body 
{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-position: bottom;
  background-color: hsla(0, 0%, 88%, 1);
  min-height: 100%;
}

code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form
{
  padding: 20px;
  margin-top: 60px;
}

form button,form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])
{
  border-color: #ec407a;
  box-shadow: none;
}

.material-icons {
  display:inline-flex;
  vertical-align:top;
}



